@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bowlby+One+SC&family=Bungee&family=Monoton&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans';
}

h1, h2, h3 {
    font-family: 'Bungee';
}

p {
    font-family: 'Balsamiq Sans';
}

.instructions {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    width: 100%;
    max-height: 100px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

img {
    width: 100%;
    max-height: 100px;
    display: block;
    object-fit: cover;
}

.claim-btn {
    height: 50px;
    width: 100%;
    background-color: #0F2344;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    border: none;
    letter-spacing: 3px;
    display: none;
    z-index: 5;
}

a-entity {
    z-index: 5;
}

/* Prize Page */

.relative {
    position: relative;
}

body#prize {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.prize-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #0F2344;
}

.prize-body {
    width: 90%;
    margin: 0 auto;
    max-width: 350px;
}

.prize-message {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: #32353b;
}

.prize-body button {
    display: block;
    background-color: #0F2344;
    color: white;
    margin: 10px auto 0;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

#company-logo {
    width: 80%;
    max-width: 200px;
    margin: 0 auto 20px;
}