.instructions {
    position: fixed;
    top: 0;
    background-color: blueviolet;
    color: white;
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}